@charset "utf-8";

* {
	padding: 0 0;
	margin: 0 0;
}

body {
	background-color: rgba(50, 50, 50, 1);
}

a, a:hover, a:link {
	color: '#444';
    text-decoration: none;
}

#Nav {
    width: 20%;
    min-width: 150px;
    margin-top: 100px;
}

#Nav .menuList .active a {
    color: #fff;
    background: rgba(0,0,0,.3);
}

#Nav .menuList a {
	display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-indent: 20px;
    color: #aaa;
    box-sizing: border-box;
    border-top: 1px solid rgba(255,255,255,.1);
    text-shadow: 0 -1px rgba(0,0,0,.5);
    font-weight: bold;
    font-size: 18px;
    font-style: italic;
}
#Nav .menuList a:hover {
	cursor: pointer;
	color: #fff;
	background-color: rgba(30, 30, 30, 1);
}

#Content {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    padding: 40px 50px;
    position: fixed;
    overflow: hidden;
    overflow-y: scroll;
    border-top-left-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,.6);
    top: 20px;
    right: 0;
    bottom: 0;
    width: 80%;
    background: #fff;
}

.bodyTitle {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 50px;
    font-weight: 700;
}

#table thead tr {
	background-color: rgba(50, 50, 50, 0.9);
    color: #fff;
};

#table tbody {
	background-color: rgba(233, 133, 133, 1);
};

/* 日期选择插件样式 start */
.control-date-box
{
	float: left;
	margin-top: 3px;
}
.input-append {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
	font-size: 0;
    white-space: nowrap;
}
input[readonly] {
    cursor: not-allowed;
    background-color: #eeeeee;
}
.input-append input
{
	display: inline-block;
	width: 130px;
	height: 30px;
	line-height: 30px;
	border: 1px solid #cccccc;
    color: #555555;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: normal;
	border-radius: 4px 0 0 4px;
	font-size: 13px;
	-webkit-writing-mode: horizontal-tb;
	text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
	margin: 0;
	transition: border linear .2s, box-shadow linear .2s;
}

.input-append .add-on, .input-prepend .add-on {
    display: inline-block;
    width: auto;
    height: 30px;
    min-width: 16px;
    padding: 4px 5px;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    text-align: center;
    text-shadow: 0 1px 0 #ffffff;
    background-color: #eeeeee;
    border: 1px solid #ccc;
	vertical-align: top;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.input-append .add-on:last-child, .input-append .btn:last-child, .input-append .btn-group:last-child>.dropdown-toggle {
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
}
/* 日期选择插件样式 end */